In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import accuracy_score
import pandas as pd
import tensorflow as tf

In [2]:
# Import our input dataset
charity_df = pd.read_csv('charity_data.csv')
charity_df.head(10)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
5,10556855,MINORITY ORGAN & TISSUE TRANSPLANT & EDUCATION...,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
6,10558440,FRIENDS OF ARTS COUNCIL OF GREATER DENHAM SPRI...,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,31452,1
7,10566033,ISRAEL EMERGENCY ALLIANCE,T3,Independent,C2000,Preservation,Trust,1,10M-50M,N,7508025,1
8,10570430,ARAMCO BRATS INC,T7,Independent,C1000,ProductDev,Trust,1,1-9999,N,94389,1
9,10571689,INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0

In [3]:
# Check the unique value counts to see if binning is required
charity_df= charity_df.drop(columns=["EIN","NAME"])
charity_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Generate our categorical variable list
charity_cat = charity_df.dtypes[charity_df.dtypes == "object"].index.tolist()

# Check the number of unique values in each column
charity_df[charity_cat].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [5]:
# Check the application type unique value counts to see if binning is required
application_counts= charity_df.APPLICATION_TYPE.value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Determine which values to replace for bucketing
replace_application = list(application_counts[application_counts < 156].index)

# Replace in DataFrame
for application in replace_application:
    charity_df.APPLICATION_TYPE = charity_df.APPLICATION_TYPE.replace(application,"Other")


# Check to make sure binning was successful
charity_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Check the unique value counts to see if binning is required
classification_counts= charity_df.CLASSIFICATION.value_counts()

In [8]:
# Determine which values to replace for bucketing
replace_classification = list(classification_counts[classification_counts < 116].index)

# Replace in DataFrame
for classification in replace_classification:
    charity_df.CLASSIFICATION = charity_df.CLASSIFICATION.replace(classification,"Other")


# Check to make sure binning was successful
charity_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other      887
C7000      777
C1700      287
C4000      194
C5000      116
Name: CLASSIFICATION, dtype: int64

In [9]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(charity_df[charity_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(charity_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,APPLICATION_TYPE_T9,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [10]:
# Merge one-hot encoded features and drop the originals
charity_df = charity_df.merge(encode_df,left_index=True, right_index=True)
charity_df = charity_df.drop(charity_cat,1)
charity_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [11]:
# Split our preprocessed data into our features and target arrays
y = charity_df["IS_SUCCESSFUL"].values
X = charity_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Split training/test datasets
#X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [12]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 80)                3920
_________________________________________________________________
dense_1 (Dense)              (None, 30)                2430
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 31
=================================================================
Total params: 6,381
Trainable params: 6,381
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Train the model
#fit_model = nn.fit(X_train,y_train,epochs=100)
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Train on 25724 samples
Epoch 1/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5703 - accuracy: 0.7231
Epoch 2/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5535 - accuracy: 0.7313
Epoch 3/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5508 - accuracy: 0.7315
Epoch 4/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5489 - accuracy: 0.7324
Epoch 5/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5477 - accuracy: 0.7322
Epoch 6/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5468 - accuracy: 0.7340
Epoch 7/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5456 - accuracy: 0.7346
Epoch 8/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5451 - accuracy: 0.7350
Epoch 9/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5443 - accuracy: 0.7362
Epoch 10/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5433 - accuracy: 0.7343
Epoch 11/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5434 - accuracy: 0.7349
Epoch 12/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5425 - accuracy: 0.7365
Epoch 13/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5428 - accuracy: 0.7362
Epoch 14/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5420 - accuracy: 0.7366
Epoch 15/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5419 - accuracy: 0.7352
Epoch 16/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5411 - accuracy: 0.7371
Epoch 17/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5413 - accuracy: 0.7371
Epoch 18/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5404 - accuracy: 0.7368
Epoch 19/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5404 - accuracy: 0.7367
Epoch 20/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5401 - accuracy: 0.7364
Epoch 21/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5406 - accuracy: 0.7377
Epoch 22/100
25724/25724 [==============================] - 1s 56us/sample - loss: 0.5397 - accuracy: 0.7378
Epoch 23/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5394 - accuracy: 0.7379
Epoch 24/100
25724/25724 [==============================] - 1s 58us/sample - loss: 0.5391 - accuracy: 0.7390
Epoch 25/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5389 - accuracy: 0.7382
Epoch 26/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5390 - accuracy: 0.7375
Epoch 27/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5389 - accuracy: 0.7385
Epoch 28/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5384 - accuracy: 0.7385
Epoch 29/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5380 - accuracy: 0.7389
Epoch 30/100
25724/25724 [==============================] - 1s 55us/sample - loss: 0.5378 - accuracy: 0.7404
Epoch 31/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5382 - accuracy: 0.7390
Epoch 32/100
25724/25724 [==============================] - 1s 55us/sample - loss: 0.5376 - accuracy: 0.7390
Epoch 33/100
25724/25724 [==============================] - 1s 56us/sample - loss: 0.5377 - accuracy: 0.7393
Epoch 34/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5372 - accuracy: 0.7402
Epoch 35/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5374 - accuracy: 0.7394
Epoch 36/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5372 - accuracy: 0.7390
Epoch 37/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5369 - accuracy: 0.7398
Epoch 38/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5371 - accuracy: 0.7398
Epoch 39/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5370 - accuracy: 0.7401
Epoch 40/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5367 - accuracy: 0.7392
Epoch 41/100
25724/25724 [==============================] - 1s 55us/sample - loss: 0.5365 - accuracy: 0.7395
Epoch 42/100
25724/25724 [==============================] - 1s 56us/sample - loss: 0.5363 - accuracy: 0.7402
Epoch 43/100
25724/25724 [==============================] - 1s 55us/sample - loss: 0.5363 - accuracy: 0.7407
Epoch 44/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5363 - accuracy: 0.7401
Epoch 45/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5355 - accuracy: 0.7400
Epoch 46/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5355 - accuracy: 0.7404
Epoch 47/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5362 - accuracy: 0.7398
Epoch 48/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5357 - accuracy: 0.7409
Epoch 49/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5355 - accuracy: 0.7402
Epoch 50/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5357 - accuracy: 0.7389
Epoch 51/100
25724/25724 [==============================] - 1s 57us/sample - loss: 0.5353 - accuracy: 0.7400
Epoch 52/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5354 - accuracy: 0.7409
Epoch 53/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5354 - accuracy: 0.7409
Epoch 54/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5349 - accuracy: 0.7412
Epoch 55/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5351 - accuracy: 0.7409
Epoch 56/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5351 - accuracy: 0.7404
Epoch 57/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5347 - accuracy: 0.7412
Epoch 58/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5350 - accuracy: 0.7423
Epoch 59/100
25724/25724 [==============================] - 1s 56us/sample - loss: 0.5343 - accuracy: 0.7423
Epoch 60/100
25724/25724 [==============================] - 1s 55us/sample - loss: 0.5351 - accuracy: 0.7407
Epoch 61/100
25724/25724 [==============================] - 2s 59us/sample - loss: 0.5344 - accuracy: 0.7420
Epoch 62/100
25724/25724 [==============================] - 1s 56us/sample - loss: 0.5346 - accuracy: 0.7405
Epoch 63/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5338 - accuracy: 0.7409
Epoch 64/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5343 - accuracy: 0.7407
Epoch 65/100
25724/25724 [==============================] - 1s 55us/sample - loss: 0.5345 - accuracy: 0.7414
Epoch 66/100
25724/25724 [==============================] - 1s 55us/sample - loss: 0.5343 - accuracy: 0.7409
Epoch 67/100
25724/25724 [==============================] - 1s 57us/sample - loss: 0.5342 - accuracy: 0.7417
Epoch 68/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5340 - accuracy: 0.7411
Epoch 69/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5337 - accuracy: 0.7415
Epoch 70/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5342 - accuracy: 0.7408
Epoch 71/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5338 - accuracy: 0.7421
Epoch 72/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5339 - accuracy: 0.7409
Epoch 73/100
25724/25724 [==============================] - 1s 55us/sample - loss: 0.5334 - accuracy: 0.7428
Epoch 74/100
25724/25724 [==============================] - ETA: 0s - loss: 0.5335 - accuracy: 0.74 - 1s 55us/sample - loss: 0.5332 - accuracy: 0.7415
Epoch 75/100

25724/25724 [==============================] - 1s 51us/sample - loss: 0.5338 - accuracy: 0.7417
Epoch 76/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5335 - accuracy: 0.7410
Epoch 77/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5338 - accuracy: 0.7416
Epoch 78/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5335 - accuracy: 0.7406
Epoch 79/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5334 - accuracy: 0.7409
Epoch 80/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5334 - accuracy: 0.7413
Epoch 81/100
25724/25724 [==============================] - 1s 57us/sample - loss: 0.5333 - accuracy: 0.7421
Epoch 82/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5331 - accuracy: 0.7413
Epoch 83/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5332 - accuracy: 0.7411
Epoch 84/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5331 - accuracy: 0.7409
Epoch 85/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5328 - accuracy: 0.7416
Epoch 86/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5326 - accuracy: 0.7406
Epoch 87/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5327 - accuracy: 0.7407
Epoch 88/100
25724/25724 [==============================] - 1s 55us/sample - loss: 0.5329 - accuracy: 0.7417
Epoch 89/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5332 - accuracy: 0.7421
Epoch 90/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5329 - accuracy: 0.7417
Epoch 91/100
25724/25724 [==============================] - 1s 57us/sample - loss: 0.5327 - accuracy: 0.7407
Epoch 92/100
25724/25724 [==============================] - 2s 60us/sample - loss: 0.5323 - accuracy: 0.7421
Epoch 93/100
25724/25724 [==============================] - 1s 55us/sample - loss: 0.5325 - accuracy: 0.7414
Epoch 94/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5330 - accuracy: 0.7416
Epoch 95/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5326 - accuracy: 0.7420
Epoch 96/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5324 - accuracy: 0.7412
Epoch 97/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5321 - accuracy: 0.7416
Epoch 98/100
25724/25724 [==============================] - 1s 55us/sample - loss: 0.5323 - accuracy: 0.7424
Epoch 99/100
25724/25724 [==============================] - 1s 56us/sample - loss: 0.5324 - accuracy: 0.7427
Epoch 100/100
25724/25724 [==============================] - 1s 55us/sample - loss: 0.5323 - accuracy: 0.7432

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5534 - accuracy: 0.7262
Loss: 0.5534158241714054, Accuracy: 0.7261807322502136